<div class="jumbotron">




	<h1>What's up!</h1>
	<p class="lead">
		<img src="assets/img/moxtro.png" alt="I'm Yeoman"><br>
		Start your app now.
	</p>
	<p><a class="btn btn-lg btn-success" ng-href="#" ng-click="callToService()">Call to Mocked Backed!<span class="glyphicon glyphicon-ok"></span></a></p>

	<div data-ng-show="loadingBooks">Loading...</div>
	<div data-ng-show="books">
        <ul>
            <li data-ng-repeat="book in books" data-ng-bind="book.name"></li>
        </ul>
    </div>
</div>

<div class="row marketing" ng-repeat="item in awesomeThings">
	<h4>{{ item.title }}</h4>
	<p>{{ item.description }}</p>
</div>
